STK402_NETWORK=sepolia
STARKNET_RPC_URL=https://api.cartridge.gg/x/starknet/sepolia
STRK20_POOL_ADDRESS=0x0254a6b2997ef52e9f830ce1f543f6b29768295e8d17e2267d672c552cfe0d91
STRK20_PROVING_SERVICE_URL=https://transaction-prover.alpha-sepolia.sw-dev.io
STRK20_INDEXER_URL=https://discovery-service.alpha-sepolia.sw-dev.io
